@import "tailwindcss";
@import "@heroui/styles"; 
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid white;
  width: 0;
  animation: typing 3.5s steps(30, end) forwards,
             blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  50% { border-color: transparent }
}
